.menu{

}

.menu button{

    background: none;
    border: none;
    color:#64b2ff;
    font-family: "sans-serif";
    justify-content: space-between;
    font-size: 1.4rem;
    font-weight:300;
    margin-right: 3.5rem;
    margin-top: 20px;
}

.menu button div{
    display: none;
    
}

@media screen and (max-width: 960px) {

    .menu button{
        margin-top: 55px;
        margin-right: 1.5rem;



    }
}

@media screen and (max-width: 960px) {
    .menu button div {
      display: inline-flex;
      align-items:center;
      cursor:pointer;
      font-size: 0.5em;
      
    }

    svg{
        margin-right:0.2rem;
        display: flex;
    }
    
  }

.menu button:hover{

    color:#fff; 
    text-decoration: underline;
    transition:0.5s all ease;
    

}